.sidebar {
  display: flex;
  width: 212px;
  height: 100vh;
  padding: var(--20, 20px) var(--16, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--16, 16px);
  flex-shrink: 0;
  background-color: var(--bg-primary);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
}