.card {
  display: flex;
  min-width: 200px;
  padding: var(--24, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--8, 8px);
  flex: 1 0 0;
  border-radius: var(--16, 16px);
  background: var(--Primary-Blue, #E3F5FF);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}

.card-title {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px var(--8, 8px);
  align-self: stretch;
  flex-wrap: wrap;
}

.card-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--8, 8px);
}

.card-value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--8, 8px);
}

.card-trend {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card-trend.positive {
}

.card-trend.negative {
}
